.allBooking-screen-container {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  margin-left: 0;
  position: relative;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.allBooking-top {
  width: 100vw;
  height: 40vh !important;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}

.allBooking-top::after {
  content: "";
  background: url("../product_image/hair-main.jpg") bottom center no-repeat;
  background-position: 20% 70%;
  background-size: cover;
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.allBooking-jumbo {
  display: flex;
  flex-direction: column;
  height: 70%;
  align-items: center;
  justify-content: space-around;
}

.allBooking-top .allBooking-jumbo h1 {
  font-weight: 700;
  letter-spacing: 5px;
}

.allBooking-btn {
  padding: calc(0.1rem + 0.8vh) calc(6px + 2vw) !important;
  font-size: calc(12px + 1vw) !important;
}

/* bottom */
.allBooking-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 50vh;
  margin: 0;
  padding: 0;
}

.allBooking-bottom-title {
  margin-bottom: 0.6rem;
}

.allbooking-name {
  overflow-wrap: break-word;
  margin: 0 auto;
  max-width: 200px;
}

@media (max-width: 48rem) {
  .allbooking-name {
    max-width: 150px;
  }
}

@media (max-width: 30rem) {
  .allbooking-name {
    max-width: 100px;
  }
}

@media (max-width: 24rem) {
  .allbooking-name {
    max-width: 45px;
  }
}
