.check-container {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  margin-left: 0;
  position: relative;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.check-top {
  width: 100vw;
  height: 40vh !important;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}

.check-top::after {
  content: "";
  background: url("../product_image/hair-main.jpg") bottom center no-repeat;
  background-position: 20% 70%;
  background-size: cover;
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.check-jumbo {
  display: flex;
  flex-direction: column;
  height: 70%;
  align-items: center;
  justify-content: space-around;
}

.check-top .check-jumbo h1 {
  font-weight: 700;
  letter-spacing: 5px;
}

.check-btn {
  padding: calc(0.1rem + 0.8vh) calc(6px + 2vw) !important;
  font-size: calc(12px + 1vw) !important;
}

/* bottom */
.check-bottom {
  display: flex;
  justify-content: space-evenly !important;
  width: 100vw;
  min-width: 100%;
  margin: 0;
  padding: 0;
}

.check-bottom-left {
  width: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.check-date-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.check-date-box h4 {
   margin: 4vh 0;
}

.check-date-items {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  height: 60px;
}

.check-date-items p {
  font-size: 18px;
  margin-right: 2vw;
}

.check-date-items i {
  font-size: 35px;
  margin-top: 0;
}

.check-bottom-right {
  width: 40vw;
  height: 50vh;
  margin-right: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.check-bottom-right img {
  width: 100%;
  max-height: 80%;
  object-fit: cover;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

@media (max-width: 56rem) {
  .check-bottom-left {
    width: 100vw;
    min-height: 50vh;
  }

  .check-bottom-right {
    display: none;
  }
}

@media (max-width: 21.5rem) {
    
.check-date-items p {
  font-size: 15px;
}

.check-date-items i {
  font-size: 25px;
}
}
