.profile_screen_container {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  margin-left: 0;
  position: relative;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* top */
.profile_screen_top {
  width: 100vw;
  height: 40vh !important;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}

.profile_screen_top::after {
  content: "";
  background: url("../product_image/hair-main.jpg") bottom center no-repeat;
  background-position: 20% 70%;
  background-size: cover;
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.profile_screen_jumbo {
  display: flex;
  flex-direction: column;
  height: 70%;
  align-items: center;
  justify-content: space-around;
}

.profile_screen_top .profile_screen_jumbo h1 {
  font-weight: 700;
  font-size: calc(20px + 2vw);
  letter-spacing: 5px;
}

.profile_screen_btn {
  padding: calc(0.1rem + 0.8vh) calc(6px + 2vw) !important;
  font-size: calc(12px + 1vw) !important;
}

/* bottom */
.profile_screen_bottom {
  display: flex;
  justify-content: space-evenly !important;
  width: 100vw;
  min-width: 100%;
  margin: 0;
  padding: 0;
}

.profile_screen_bottom_left {
  width: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile_form_box {
  width: 70%;
  max-width: 600px;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 15px;
}

.profile_box-title {
  display: flex;
  font-size: 25px;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.profile_box-title i {
  margin-left: 1rem;
  font-size: 35px;
}

.profile_form_box small {
  text-align: center;
}

.profile_inputs {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.profile_inputs label {
  font-weight: 600;
}

.profile_inputs input {
  margin-bottom: 1rem;
  font-size: 15px;
  padding: 0.2rem;
  border: #202020 solid 0.5px;
}

.profile_form_box hr {
  border-top: 3px #555 solid;
}

.profile_form_button {
  text-align: center;
}

.profile_form_button button {
  padding: 0.5rem 2rem;
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  background-color: #fa5353;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.profile_form_button button:hover {
  background-color: #e65960;
}

.profile_form_button button:active {
  background-color: #c42f37;
}

.profile_form_delete_button {
  text-align: center;
  margin-top: 1rem;
  color: #555;
  font-size: 16px;
  font-weight: 600;
}

.profile_form_delete_button button {
  border: none;
  color: #f80713;
  background-color: #f4f4f4;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
}

.profile_form_delete_button button:hover {
  font-weight: 700;
}

.profile_form_delete_button button:active {
  font-weight: 600;
  color: #df020d;
}

.profile_screen_bottom_right {
  width: 40vw;
  height: 50vh;
  margin-right: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.profile_screen_bottom_right img {
  width: 100%;
  max-height: 80%;
  object-fit: cover;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

@media (max-width: 46rem) {
  .profile_screen_bottom_left {
    width: 100vw;
    min-height: 50vh;
  }

  .profile_form_box {
    max-width: 450px;
    width: 90%;
    min-width: auto;
  }

  .profile_screen_bottom_right {
    display: none;
  }
}
