.userslist-screen-container {
  min-height: 90vh;
  margin: 0;
  padding: 0;
  margin-left: 0;
  position: relative;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userslist-top {
  width: 100vw;
  height: 40vh !important;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}

.userslist-top::after {
  content: "";
  background: url("../product_image/hair-main.jpg") bottom center no-repeat;
  background-position: 20% 70%;
  background-size: cover;
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.userslist-jumbo {
  display: flex;
  flex-direction: column;
  height: 70%;
  align-items: center;
  justify-content: space-around;
}

.userslist-top .userslist-jumbo h1 {
  font-weight: 700;
  letter-spacing: 5px;
  font-size: calc(20px + 2vw);
}

.userslist-btn {
  padding: calc(0.1rem + 0.8vh) calc(6px + 2vw) !important;
  font-size: calc(12px + 1vw) !important;
}

/* bottom */
.userslist-bottom {
  width: 100vw;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.userslist-bottom-title {
  margin-bottom: 1rem;
}

.userslist-id {
  font-size: 13px;
  margin: 0 auto;
}

.userslist-name {
  max-width: 100px;
  margin: 0 auto;
  overflow-wrap: break-word;
}

.userslist-email {
  max-width: 180px;
  margin: 0 auto;
  overflow-wrap: break-word;
}

@media (max-width: 48rem) {
  .userslist-id {
    max-width: 80px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .userslist-name {
    max-width: 90px;
  }

  .userslist-email {
    max-width: 120px;
  }
}

@media (max-width: 30rem) {
  .userslist-id {
    max-width: 60px;
  }

  .userslist-name {
    max-width: 70px;
  }

  .userslist-email {
    max-width: 90px;
  }
}

@media (max-width: 24rem) {
  .userslist-id {
    max-width: 40px;
  }

  .userslist-name {
    max-width: 50px;
  }

  .userslist-email {
    max-width: 70px;
  }

  .userslist-admin-th {
    font-size: 11px;
    max-width: 45px;
    margin: 0 auto;
    overflow-wrap: break-word;
  }
}
