.date-comp-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
}

.date-comp-lines {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 20vw !important;
  margin-bottom: 2vh;
}

.time-container-comp {
  width: 40vw !important;
  height: auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.time-items-comp,
.time-item-comp {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  width: 4.8rem;
  height: 3rem;
  background-color: #464646;
  color: #fff;
  margin: 1rem 0;
}

.time-items-comp:hover {
  transform: scale(1.1);
}

.time-item-comp {
  margin-left: 1.5rem;
}

.time-items-comp:active {
  transform: scale(0.9);
}

@media (max-width: 77rem) {
  .time-container-comp {
    grid-template-columns: repeat(4, 1fr);
  }

  .time-items-comp,
.time-item-comp {
  width: 4.4rem;
  height: 2.7rem;
}
}

@media (max-width: 46rem) {
  .time-container-comp {
    width: 80vw !important;
    grid-template-columns: repeat(6, 1fr);
  }

  .date-comp-lines {
    justify-content: center;
    margin-left: 0 !important;
  }

  .time-items-comp,
  .time-item-comp {
    width: 4rem;
    height: 2.7rem;
  }
}

@media (max-width: 48rem) {
  .time-container-comp {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 22rem) {
  .time-items-comp,
  .time-item-comp {
    width: 3.6rem;
    height: 2.5rem;
  }
  .time-items-comp h4,
  .time-item-comp h4 {
    font-size: 15px;
  }
}
